<template>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-2">
        <div class="container">
            <a href="#" class="navbar-brand">Basic Blog App,  backend => Laravel 8,   frontend => VueJS 3 © Traversy Media </a>
        </div>
    </nav>
</template>

<script>
export default {

}
</script>

<style>

</style>